.tooltip-container {
  display: flex;
  position: fixed;
  /* z-index: 999; */
  z-index: 1;
  background: rgba(238, 238, 238, 0.1);
  box-shadow: 5px 5px 20px rgba(20, 25, 35, 0.3);
  backdrop-filter: blur(25px);
  padding: 4px 8px;
  gap: 2px;
  align-items: center;
  border-radius: 8px;
}

.chart-tooltip-container {
  position: 'relative';
  width: '100px';
  flex: 1;
  padding: '4px 8px';
  display: 'flex';
  flex-direction: 'column';
}
.chart-tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.chart-tooltip-header-dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
