@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

/* styles/global.css */

body {
  margin: 0;
  padding: 0;
  line-height: normal;
  overscroll-behavior: none;
}
:root {
  /* fonts */
  --body-b1-regular: Roboto;
  --body-label-bold: 'Pretendard Variable';

  /* font sizes */
  --body-b1-regular-size: 14px;
  --body-label-bold-size: 12px;
  --body-b2-regular-size: 13px;
  --title-s1-size: 16px;
  --title-h2-size: 20px;
  --title-h1-size: 24px;

  /* Colors */
  --background-ui-bg-selected: rgba(83, 139, 255, 0.2);
  --background-ui-bg-secondary: #1e2533;
  --background-ui-bg-header: #191f2b;
  --background-ui-bg-main: rgba(0, 0, 0, 0.2);
  --text-tertiary: rgba(255, 255, 255, 0.4);
  /* --background-ui-bg-elevated: rgba(255, 255, 255, 0.1); */
  --text-ui-text-secondary: rgba(255, 255, 255, 0.7);
  --background-ui-bg-elevated: rgba(255, 255, 255, 0.08);
  --etc-ui-action-hoverfff5: rgba(255, 255, 255, 0.05);
  --text-ui-text-disabled: rgba(255, 255, 255, 0.2);
  --text-ui-text: rgba(255, 255, 255, 0.9);
  --color-blueviolet: #9747ff;
  --grey-scale-white: #fff;
  --border-ui-border: rgba(238, 238, 238, 0.1);
  --border-ui-border-elevated: rgba(238, 238, 238, 0.2);
  --color-limegreen: #72e128;
  --interation-ui-interation-primary: #125aed;
  --interation-ui-interation-primary-contrast: #538bff;
  --color-gainsboro: rgba(221, 221, 221, 0.1);
  --background-ui-bg: #252e40;
  --status-ui-status-warning: #ffa800;
  --status-good-lightgreen: #00c02a;
  --status-good-darkgreen: rgba(0, 195, 75, 0.2);
  --status-neutral-lightblue: #538bff;
  --status-neutral-darkblue: rgba(71, 131, 255, 0.2);
  --status-bad-lightorange: #ffa800;
  --status-bad-darkorange: rgba(255, 168, 0, 0.2);
  --status-etc-lightgray: rgba(255, 255, 255, 0.4);
  --status-etc-darkgray: rgba(255, 255, 255, 0.2);
  --status-command-box: rgba(0, 0, 0, 0.2);
  --status-auto-scaling: #538bff;
  --status-hover: rgba(255, 255, 255, 0.05);
  --status-button-hover: rgba(255, 255, 255, 0.05);
  --status-danger: #eb4136;
  --status-tips: #dfbb3b;
  --ui-notification-red: #dc4e25;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-11xs: 2px;
  --gap-21xl: 40px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-12xs: 1px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-11xs: 2px;
  --padding-3xs: 10px;

  /* border radiuses */
  --br-8xs: 5px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-81xl: 100px;
  --br-9xs: 4px;
  --br-45xl: 64px;
  --br-lg: 18px;
}

/* styles/index.css */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* components */

.component-button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  border: 1px solid transparent;

  font-weight: 700;

  cursor: pointer;
}

.component-button:disabled {
  color: var(--text-ui-text-disabled);
}

.component-button-small {
  min-width: 40px;
  height: 24px;
}
.component-button-medium {
  min-width: 80px;
  height: 32px;
}
.component-button-large {
  min-width: 100px;
  height: 40px;
}

.component-button-contained {
  background-color: var(--interation-ui-interation-primary);
  color: var(--text-ui-text);
}
.component-button-contained:disabled {
  background-color: var(--border-ui-border);
}
.component-button-contained:enabled:hover {
  background-color: var(--interation-ui-interation-primary-contrast);
}

.component-button-outlined {
  background-color: transparent;
  color: var(--interation-ui-interation-primary);
  border: 1px solid var(--interation-ui-interation-primary);
}
.component-button-outlined:disabled {
  border: 1px solid var(--border-ui-border);
}
.component-button-outlined:enabled:hover {
  color: var(--interation-ui-interation-primary-contrast);
  border: 1px solid var(--interation-ui-interation-primary-contrast);
}

.component-button-text {
  min-width: none;

  align-items: start;

  background-color: transparent;
  color: var(--interation-ui-interation-primary);
}
.component-button-text:disabled {
  background-color: transparent;
}
.component-button-text:enabled:hover {
  background-color: var(--etc-ui-action-hoverfff5);
  border-radius: 100px;
}

.component-calender {
  width: 280px;
  height: 284px;
}

.component-calender-head {
  display: flex;
  align-items: center;

  width: 100%;
  height: 48px;

  margin-bottom: 8px;
}

.component-calender-body {
}

.component-calender-body-days {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
  place-items: center center;

  margin-bottom: 4px;
}

.component-calender-body-dates {
  display: grid;
  grid-template-rows: 36px 36px 36px 36px 36px;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
  place-items: center center;

  width: 280px;
  height: 204px;

  box-sizing: border-box;
  padding: 12px 0px;
}

.component-calender-body-dates-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 36px;

  border-radius: 18px;
}

.component-calender-body-dates-item-focused {
  background-color: var(--etc-ui-action-hoverfff5);
}
.component-calender-body-dates-item-selected {
  background-color: var(--interation-ui-interation-primary);
}
.component-calender-body-dates-item-selected:hover {
  background-color: var(--interation-ui-interation-primary-contrast);
}

.component-area-chart {
  overflow: hidden;
}

.component-area-chart-container {
  border-radius: 8px;

  overflow: hidden;
}

.component-area-chart-background {
  fill: var(--border-ui-border);
}

.custom-area-chart-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.custom-area-chart-title-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 24px;
}
.custom-area-chart-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.custom-area-chart-title-line {
  width: 8px;
  height: 0px;
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  margin-right: 4px;
}
.custom-area-chart-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  padding-top: 4px;
  height: 64px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  overflow: hidden;
}
.custom-area-chart-subtitle {
  display: flex;
  position: absolute;
  margin-top: 60px;
  margin-right: 100px;
  /* top:  */
  /* background-color: red; */
}

.horizontal-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.horizontal-bar-progress {
  display: flex;
  width: 100%;
  height: 16px;
  background-color: var(--border-ui-border);
  border-radius: 4px;
  margin-right: 12px;
  min-width: 240px;
}

.line-chart-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.line-chart-title-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  gap: 24px;
}
.line-chart-title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.line-chart-title-line {
  width: 8px;
  height: 0px;
  border-top: 2px solid rgba(255, 255, 255, 0.7);
  margin-right: 4px;
}
.line-chart-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  padding-top: 4px;
  height: 64px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  overflow: hidden;
}

.innerContainer {
  margin-top: 12px;
  margin-bottom: 12px;
}
.circleContainer {
  width: 90px;
  height: 90px;
  margin: 12px;
  display: block;
}
.circleOut {
  fill: transparent;
  stroke: rgba(238, 238, 238, 0.1);
  stroke-width: 26;
}
.circleLoading {
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.03);
  stroke-width: 26;
  stroke-dasharray: 0 10000;
}
.circleInnerGreen {
  fill: transparent;
  stroke: #00c02a;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray 0.3s ease;
}
.circleInnerYellow {
  fill: transparent;
  stroke: #ffa800;
  stroke-width: 26;
  stroke-dasharray: 0 10000;
  transition: stroke-dasharray 0.3s ease;
}
.innerGreenContainer {
  align-items: center;
  top: calc(50% - 17.5px);
  left: calc(50% - 21px);
  justify-content: center;
  fill: #00c02a;
}
.innerYellowContainer {
  align-items: center;
  top: calc(50% - 17.5px);
  left: calc(50% - 21px);
  flex-direction: column;
  justify-content: center;
  fill: #ffa800;
}
.innerTitle {
  line-height: 20px;
  font-size: 14px;
  font-weight: 700;
}

.component-checkbox {
  display: flex;
  justify-content: start;
  align-items: center;

  margin: 5px;
}

.component-checkbox-rect,
.component-checkbox-rect-checked {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;

  /* margin-right: 8px; */

  border: 1px solid var(--border-ui-border-elevated);
  border-radius: 2px;
  background-color: transparent;

  box-sizing: border-box;
}

.component-checkbox-rect-checked {
  border: 1px solid var(--border-ui-border-elevated);
  border-radius: 2px;
  /* background-color: var(--interation-ui-interation-primary); */
}

.component-checkbox-label {
  margin-left: 90px;
  margin-right: 6px;
}

.component-chip {
  display: inline-flex;
  flex-direction: row;
  padding: 8px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  background: var(--background-ui_bg_elevated, rgba(255, 255, 255, 0.08));
  cursor: pointer;
}

.component-chip:hover {
  background: var(--etc-ui-action-hover-fff-5, rgba(255, 255, 255, 0.05));
}

.component-chip-selected {
  border: 1px solid var(--interaction-ui_interaction_primary, #125aed);
  background: var(
    --interaction-ui_interation_primary_selected,
    rgba(83, 139, 255, 0.2)
  );
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.15) inset;
}

.component-chip-tag {
  border-radius: 20px;
  cursor: pointer;
}

.component-chip-tag:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.component-date-range-picker {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;

  width: 640px;
  min-height: 558px;

  background: var(--background-ui-bg-secondary);
  border: 1px solid var(--background-ui-bg-elevated);
  border-radius: 16px;
  user-select: none;
}

.component-date-range-picker-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;

  box-sizing: border-box;
  padding: 20px;

  border-bottom: 1px solid var(--background-ui-bg-elevated);
}

.component-date-range-picker-contents {
  display: flex;

  box-sizing: border-box;
  padding: 16px 20px;
}

.component-date-range-picker-contents-left {
  display: flex;
  /* flex-direction: column; */

  width: 180px;
  height: 408px;

  margin-right: 20px;

  border-right: 1px solid var(--border-ui-border);
}

.component-date-range-picker-contents-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 600px;
  height: 408px;
}

.component-date-range-picker-contents-right-header {
  display: flex;
  justify-content: space-between;

  border-bottom: 1px solid black;
}

.component-date-range-picker-contents-right-from,
.component-date-range-picker-contents-right-to {
  display: flex;
  flex-direction: column;

  width: 280px;
}

.component-date-range-picker-contents-right-from-date-time,
.component-date-range-picker-contents-right-to-date-time {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.temporary-component-date-picker {
  width: 280px;
  height: 32px;

  background-color: purple;
}

.temporary-component-calender {
  width: 280px;
  height: 284px;

  background-color: blue;
}

.component-date-range-picker-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;

  box-sizing: border-box;
  padding: 20px;

  border-top: 1px solid var(--background-ui-bg-elevated);
}

.component-date-range-picker-footer-right {
  display: flex;
}

.component-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdown-small {
  width: 320px;
  height: 24px;
  padding: 4px 8px 4px 12px;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--border-ui_border_elevated, rgba(238, 238, 238, 0.2));
}

.dropdown-medium {
  width: 320px;
  height: 32px;
  padding: 4px 8px 4px 12px;
  align-items: center;
  gap: 4px;
  border: 1px solid var(--border-ui_border_elevated, rgba(238, 238, 238, 0.2));
}

.dropdown-disabled {
  border: 1px solid var(--border-ui_border, rgba(238, 238, 238, 0.1));
  background: var(--etc-ui-action-hover-fff-5, rgba(255, 255, 255, 0.05));
  cursor: default;
}

.component-dropdown {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  user-select: none;
  border-radius: 8px;
  cursor: pointer;
}

.component-dropdown:hover {
  border: 1px solid var(--text-ui_text_tertiary, rgba(255, 255, 255, 0.4));
  background: var(--etc-ui-action-hover-fff-5, rgba(255, 255, 255, 0.05));
}

.component-dropdown-item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.component-dropdown-item-disabled {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 36px;
  box-sizing: border-box;
}

.component-dropdown-item-decoration {
  margin-right: 8px;
}
.component-dropdown-item-button-decoration {
  display: flex;
  width: 26px;
  height: 26px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.component-dropdown-item-button-decoration-disabled {
  opacity: 0.2;
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}

.component-dropdown-item-triangle {
  position: absolute;
  right: -4px;
}

.component-dropdown-list {
  position: absolute;
  left: 0px;
  top: 40px;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-ui-border);
  border-radius: 8px;
  overflow-y: auto;
  width: 100%;
  pointer-events: auto;
  max-height: 200px;
  z-index: 20;
  border-radius: 8px;
  border: 1px solid var(--border-ui_border_modal, rgba(255, 255, 255, 0.2));
  background: var(--etc-ui-action-hover-fff-5, rgba(255, 255, 255, 0.05));
  box-shadow: 5px 5px 20px 0px rgba(20, 25, 35, 0.3);
  backdrop-filter: blur(25px);
}

.dropdown-search-container-wrapper {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 32px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 8px;
  background-color: 'transparent';
}

.dropdown-search-container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  padding: 4px var(--12, 12px) 4px var(--8, 8px);
  align-items: center;
  gap: var(--8, 8px);
  /* background-color: #373d4d; */
  align-self: stretch;
  border-radius: var(--8, 8px);
  border: 1px solid var(--border-ui_border_elevated, rgba(238, 238, 238, 0.2));
}

.component-dropdown-list-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow-y: auto;
}

.custom-scrollbar {
  position: absolute;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-right: 4px;
  top: 0;
  right: 0;
  width: 4px;
  height: 67px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  transition: top 0.2s;
  background-color: #125aed;
}

.dropdown-check-icon {
  display: flex;
  justify-content: flex-end;
}

.component-dropdown-list-item {
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
  padding: 8px 12px;
}

.component-dropdown-list-item:hover {
  background-color: var(--background-ui-bg-elevated);
}

.fixed-helper {
  position: absolute;
  padding: 6px;
  border-radius: 8px;
  text-align: center;
  max-width: 250px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 5px 5px 20px rgba(20, 25, 35, 0.3);
  backdrop-filter: blur(25px);
  white-space: pre-wrap;
  white-space: normal;
  word-break: break-word; /* Force breaks in long words */
  overflow-wrap: break-word;
  transition: opacity 0.2s ease-in-out;
  z-index: 500;
  font-family: var(--body-b1-regular);
}

/* 중앙 배치 */
.fixed-helper.center {
  transform: translateX(-50%);
}

/* 좌측 배치 */
.fixed-helper.left {
  transform: translateX(-12%);
  text-align: left;
}

/* 말풍선 삼각형 중앙 */
.fixed-helper-triangle-center {
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid rgba(255, 255, 255, 0.16);
}

/* 말풍선 삼각형 좌측 */
.fixed-helper-triangle-left {
  position: absolute;
  top: -9px;
  left: 9%;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 8px solid rgba(255, 255, 255, 0.16);
}
.component-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;

  background-color: transparent;

  border-radius: 8px;
  border: 1px solid transparent;

  font-weight: 700;

  cursor: pointer;
}

.component-icon-button:hover {
  background-color: var(--etc-ui-action-hoverfff5);
}

/* input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field {
  color: red;
} */

input[type='date'] {
  position: relative;

  appearance: none;

  width: 136px;
  height: 32px;

  box-sizing: border-box;
  padding: 6px 0px;
  padding-left: 12px;
  padding-right: 8px;

  background-color: transparent;

  /* outline:  */
  border: 1px solid rgba(238, 238, 238, 0.2);
  border-radius: 8px;

  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-ui-text);
}

input[type='date']::-webkit-calendar-picker-indicator {
  background-image: url('../../assets/svg/calendar.svg');

  margin: 0px;
  padding: 0px;
}

.component-inputfield {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid rgba(238, 238, 238, 0.1);
  border-radius: 8px;
  background-color: inherit;
}

.component-inputfield-label-focused,
.component-inputfield-label-left-deco-focused,
.component-inputfield-label-unfocused,
.component-inputfield-label-left-deco-unfocused {
  position: absolute;
  z-index: 1;
  padding: 0 5px;
  background-color: inherit;
}

.component-inputfield-label-focused {
  left: 12px;
  top: -4px;
  transition:
    left 0.15s linear,
    top 0.15s linear,
    transform 0.15s linear;
  background-color: inherit;
}

.component-inputfield-label-unfocused {
  left: 12px;
  top: 12px;
  transition:
    left 0.15s linear,
    top 0.15s linear,
    transform 0.15s linear;
}

.component-inputfield-label-left-deco-focused {
  left: 12px;
  top: -5px;
  transition:
    left 0.15s linear,
    top 0.15s linear,
    transform 0.15s linear;
  background-color: inherit;
}

.component-inputfield-label-left-deco-unfocused {
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  transition:
    left 0.15s linear,
    top 0.15s linear,
    transform 0.15s linear;
}

.component-inputfield-input {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  line-height: 100%;
  vertical-align: text-top;
  appearance: none;
  background-color: inherit;
  border: none;
  outline: none;
  border-radius: 8px;
  white-space: pre-wrap;
  color: var(--text-ui-text);
  z-index: 2; /* input이 label 아래에 위치하게 */
}

.component-inputfield-input:disabled {
  background-color: transparent;
}

.component-inputfield:hover {
  border: 1px solid var(--text-ui-text-secondary);
}

.component-inputfield:has(.component-inputfield-input:focus) {
  border: 1px solid var(--interation-ui-interation-primary-contrast);
}

.component-inputfield:has(.component-inputfield-input:disabled) {
  background-color: var(--background-ui-bg-elevated);
  border: 1px solid var(--border-ui-border);
}

.number-spinner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  gap: 2px;
}

.increment,
.decrement {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 10px;

  background-color: var(--background-ui_bg_elevated, rgba(255, 255, 255, 0.08));
  border: none;

  cursor: pointer;
}

/* .custom-number-input input[type='number'] {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 
input[type=number] {
  width: 100%;
  height: 40%;
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
}

input[type=number]::-webkit-outer-spin-button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=number]::-webkit-inner-spin-button {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=number]::-webkit-inner-spin-button::before {
  content: '▲';
  background-color: red;
  color: black;
  font-size: 10px;
}

input[type=number]::-webkit-inner-spin-button::after {
  content: '▼';
  background-color: blue;
  color: black;
  font-size: 10px;

  margin-top: 10px;
} */

.component-input-category {
  display: flex;
  position: relative;
  width: 100%;
  height: 17px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  cursor: pointer;
}

.component-input-category-divider {
  background-color: rgba(238, 238, 238, 0.1);
  width: 1px;
  margin-right: 8px;
  height: 20px;
}

.component-input-category:hover {
  background: var(--etc-ui-action-hover-fff-5, rgba(255, 255, 255, 0.05));
}

.component-input-category-wrapper {
  display: flex;
  position: absolute;
  top: 44px;
  user-select: none;
  width: 90%;
  z-index: 10;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid var(--border-ui_border_modal, rgba(255, 255, 255, 0.2));
  background: var(--etc-ui-action-hover-fff-5, rgba(255, 255, 255, 0.05));
  box-shadow: 5px 5px 20px 0px rgba(20, 25, 35, 0.3);
  backdrop-filter: blur(25px);
}

.component-input-category-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: row;
  gap: 8px;
  width: 100%;
  min-height: 36px;
  box-sizing: border-box;
  padding: 8px 12px;
}

.component-input-category-item:hover {
  background: var(--etc-ui-action-hover-fff-5, rgba(255, 255, 255, 0.05));
}
input[type='time'] {
  position: relative;

  appearance: none;

  width: 136px;
  height: 32px;

  box-sizing: border-box;
  padding: 6px 0px;
  padding-left: 12px;
  padding-right: 8px;

  background-color: transparent;

  /* outline:  */
  border: 1px solid rgba(238, 238, 238, 0.2);
  border-radius: 8px;

  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-ui-text);
}

input[type='time']::-webkit-calendar-picker-indicator {
  background-image: url('../../assets/svg/calendar.svg');

  margin: 0px;
  padding: 0px;
}
.modal-footer {
  display: flex;
  padding-top: 12px;
  padding-bottom: 16px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  border-top: 1px solid rgba(238, 238, 238, 0.1);
  flex-direction: row;
  align-items: flex-end;
  min-width: 500px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.modal-footer-option {
  display: flex;
  padding-top: 12px;
  margin-bottom: 16px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  border-top: 1px solid rgba(238, 238, 238, 0.1);
  flex-direction: row;
}
.modal-space-between {
  justify-content: space-between;
}
.modal-flex-end {
  justify-content: flex-end;
}
.modal-footer-left-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.modal-footer-right-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.modal-footer-hide-container {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  user-select: none;
}

.disable-bubble-helper {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  width: 30px;
  background: rgba(255, 255, 255, 0.08);
  box-shadow: 5px 5px 20px rgba(20, 25, 35, 0.3);
  backdrop-filter: blur(25px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.16);
  flex: none;
  order: 1;
  flex-grow: 0;
  white-space: pre;
  text-align: center;
}
.disable-bubble-helper::after {
  content: '';
  position: absolute;
}
.disable-bubble-triangle-helper {
  width: 0;
  height: 0;
  border-bottom: 10px solid rgba(255, 255, 255, 0.2);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.bubble-container-helper {
  position: relative;
  text-align: center;
  height: 40px;
}

.speech-bubble-helper {
  position: absolute;
  bottom: -80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button:hover + .speech-bubble-helper {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.speech-bubble-helper {
  opacity: 0;
}

.bubble-arrow-helper {
  border: 1px solid white;
}
.modal-header {
  display: flex;
  position: relative;
  margin-top: 20px;
  margin-bottom: 8.5px;
  flex-direction: row;
  justify-content: space-between;
  cursor: default;
  padding-right: 12px;
  padding-left: 20px;
  min-width: 500px;
  min-height: 50px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.modal-close-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.modal-space-between {
  justify-content: space-between;
}
.modal-flex-end {
  justify-content: flex-end;
}
.modal-header-left-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.modal-header-right-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
  gap: 12px;
}
.single-radio-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.single-radio-button {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
.component-radio-button-container {
  display: flex;
  flex-direction: column;

  justify-content: start;
  align-items: start;
}

.component-radio-button {
  display: flex;
  cursor: pointer;
  justify-content: start;
}

.component-radio-button-circle {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 8px;

  width: 16px;
  height: 16px;

  border: 1px solid var(--status-etc-darkgray);
  border-radius: 50%;
  background-color: transparent;
}

.component-radio-button-circle-selected {
  width: 8px;
  height: 8px;

  background-color: var(--interation-ui-interation-primary);
  border-radius: 50%;
}
.component-range-calender-container {
  display: flex;
  justify-content: space-between;
}

.component-range-calender {
  width: 280px;
  height: 284px;
}

.component-range-calender-head {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;

  width: 100%;
  height: 48px;

  padding: 0px 2px;
  margin-bottom: 8px;
}
.component-range-calender-head-from {
  justify-content: flex-start;
}
.component-range-calender-head-to {
  justify-content: flex-end;
}

.component-range-calender-body {
}

.component-range-calender-body-days {
  display: grid;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
  place-items: center center;

  margin-bottom: 4px;
}

.component-range-calender-body-dates {
  display: grid;
  grid-template-rows: 36px 36px 36px 36px 36px;
  grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
  place-items: center center;

  width: 280px;
  height: 204px;

  box-sizing: border-box;
  padding: 12px 0px;
}

.component-range-calender-body-dates-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 36px;
}

.component-range-calender-body-dates-item-unselected:hover {
  background-color: var(--etc-ui-action-hoverfff5);
}
.component-range-calender-body-dates-item-selected {
  background-color: var(--interation-ui-interation-primary);
}
.component-range-calender-body-dates-item-selected:hover {
  background-color: var(--interation-ui-interation-primary-contrast);
}
.component-range-calender-body-dates-item-ranged {
  background-color: var(--border-ui-border);
  color: var(--interation-ui-interation-primary);
}

.component-range-calender-body-dates-item-from {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}
.component-range-calender-body-dates-item-to {
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.component-range-calender-body-dates-item-from-to {
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}
.component-spinner {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  /* min-width: 100%; */
  /* height: 100vh; */
  justify-content: center;
  align-items: center;
}
.status-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
.status-badge-good {
  background-color: var(--status-good-darkgreen);
  border: 1px solid var(--status-good-lightgreen);
  color: var(--status-good-lightgreen);
}
.status-badge-neutral {
  background-color: var(--status-neutral-darkblue);
  border: 1px solid var(--status-neutral-lightblue);
  color: var(--status-neutral-lightblue);
}
.status-badge-bad {
  background-color: var(--status-bad-darkorange);
  border: 1px solid var(--status-bad-lightorange);
  color: var(--status-bad-lightorange);
}
.status-badge-etc {
  background-color: var(--status-etc-darkgray);
  border: 1px solid var(--status-etc-lightgray);
  color: var(--status-etc-lightgray);
}
.component-textarea {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid rgba(238, 238, 238, 0.1);
  border-radius: 8px;
}

.component-textarea-label-focused,
.component-textarea-label-left-deco-focused,
.component-textarea-label-unfocused,
.component-textarea-label-left-deco-unfocused {
  position: absolute;
}

.component-textarea-label-focused {
  left: 12px;
  top: -8px;
  /* transform: translate(0, -15px); */

  /* background-color: var(--background-ui-bg-secondary); */

  transition:
    left 0.15s linear,
    top 0.15s linear,
    transform 0.15s linear;
}

.component-textarea-label-unfocused {
  left: 12px;
  top: 12px;
  /* transform: translate(0, -15px); */

  background-color: transparent;

  transition:
    left 0.15s linear,
    top 0.15s linear,
    transform 0.15s linear;
}

.component-textarea-label-left-deco-focused {
  left: 12px;
  top: -8px;
  /* transform: translate(0, -15px); */

  /* background-color: var(--background-ui-bg-secondary); */

  transition:
    left 0.15s linear,
    top 0.15s linear,
    transform 0.15s linear;
}

.component-textarea-label-left-deco-unfocused {
  left: 32px;
  top: 12px;
  /* transform: translate(0, -15px); */

  background-color: transparent;

  transition:
    left 0.15s linear,
    top 0.15s linear,
    transform 0.15s linear;
}

.component-textarea-input {
  display: flex;
  align-items: flex-start;
  font-family: 'Pretendard Variable';
  resize: none;
  width: 100%;
  height: 100%;
  line-height: 100%;
  vertical-align: text-top;
  appearance: none;
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 8px;

  color: var(--text-ui-text);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  background: red;
  color: red;
  background-color: red;
  background-color: #fff;
}

.component-textarea:hover {
  border: 1px solid var(--text-ui-text-secondary);
}

.component-textarea:has(.component-textarea-input:focus) {
  border: 1px solid var(--interation-ui-interation-primary-contrast);
}

.component-textarea:invalid {
  border: 1px solid red;
}

.component-textarea:has(.component-textarea-input:disabled) {
  background-color: var(--background-ui-bg-elevated);
  border: 1px solid var(--border-ui-border);
}
.component-toast {
  flex-direction: row;
  display: inline-flex;
  padding: 12px 16px;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  border-radius: 8px;
  border: 1px solid var(--border-ui_border_modal, rgba(255, 255, 255, 0.2));
  background: var(--etc-ui-action-hover-fff-5, rgba(255, 255, 255, 0.05));
  box-shadow: 5px 5px 20px 0px rgba(20, 25, 35, 0.3);
  backdrop-filter: blur(25px);
}

.component-toast-delete {
  /* border-radius: 20px; */
  cursor: pointer;
}

.component-toast-delete:hover {
  /* background-color: rgba(255, 255, 255, 0.12); */
}
.component-toggle-container {
  position: relative;

  width: 32px;
  height: 16px;

  border-radius: 7px;

  box-sizing: border-box;
  padding: 3px;
}

.component-toggle-container-off {
  background-color: var(--text-ui-text-disabled);
}
.component-toggle-container-on {
  background-color: var(--interation-ui-interation-primary);
}

.component-toggle-toggle {
  width: 10px;
  height: 10px;

  border-radius: 50%;

  transition: transform 0.1s linear;
}
.component-toggle-toggle-on {
  background-color: white;

  transform: translateX(16px);
}
.component-toggle-toggle-off {
  background-color: var(--text-tertiary);
}
.tooltip-container {
  display: flex;
  position: fixed;
  /* z-index: 999; */
  z-index: 1;
  background: rgba(238, 238, 238, 0.1);
  box-shadow: 5px 5px 20px rgba(20, 25, 35, 0.3);
  backdrop-filter: blur(25px);
  padding: 4px 8px;
  gap: 2px;
  align-items: center;
  border-radius: 8px;
}

.chart-tooltip-container {
  position: 'relative';
  width: '100px';
  flex: 1;
  padding: '4px 8px';
  display: 'flex';
  flex-direction: 'column';
}
.chart-tooltip-header-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.chart-tooltip-header-dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

body {
  margin: 0;
  padding: 0;
  line-height: normal;
  overscroll-behavior: none;
}
:root {
  /* fonts */
  --body-b1-regular: Roboto;
  --body-label-bold: 'Pretendard Variable';

  /* font sizes */
  --body-b1-regular-size: 14px;
  --body-label-bold-size: 12px;
  --body-b2-regular-size: 13px;
  --title-s1-size: 16px;
  --title-h2-size: 20px;
  --title-h1-size: 24px;

  /* Colors */
  --background-ui-bg-selected: rgba(83, 139, 255, 0.2);
  --background-ui-bg-secondary: #1e2533;
  --background-ui-bg-header: #191f2b;
  --background-ui-bg-main: rgba(0, 0, 0, 0.2);
  --text-tertiary: rgba(255, 255, 255, 0.4);
  /* --background-ui-bg-elevated: rgba(255, 255, 255, 0.1); */
  --text-ui-text-secondary: rgba(255, 255, 255, 0.7);
  --background-ui-bg-elevated: rgba(255, 255, 255, 0.08);
  --etc-ui-action-hoverfff5: rgba(255, 255, 255, 0.05);
  --text-ui-text-disabled: rgba(255, 255, 255, 0.2);
  --text-ui-text: rgba(255, 255, 255, 0.9);
  --color-blueviolet: #9747ff;
  --grey-scale-white: #fff;
  --border-ui-border: rgba(238, 238, 238, 0.1);
  --border-ui-border-elevated: rgba(238, 238, 238, 0.2);
  --color-limegreen: #72e128;
  --interation-ui-interation-primary: #125aed;
  --interation-ui-interation-primary-contrast: #538bff;
  --color-gainsboro: rgba(221, 221, 221, 0.1);
  --background-ui-bg: #252e40;
  --status-ui-status-warning: #ffa800;
  --status-good-lightgreen: #00c02a;
  --status-good-darkgreen: rgba(0, 195, 75, 0.2);
  --status-neutral-lightblue: #538bff;
  --status-neutral-darkblue: rgba(71, 131, 255, 0.2);
  --status-bad-lightorange: #ffa800;
  --status-bad-darkorange: rgba(255, 168, 0, 0.2);
  --status-etc-lightgray: rgba(255, 255, 255, 0.4);
  --status-etc-darkgray: rgba(255, 255, 255, 0.2);
  --status-command-box: rgba(0, 0, 0, 0.2);
  --status-auto-scaling: #538bff;
  --status-hover: rgba(255, 255, 255, 0.05);
  --status-button-hover: rgba(255, 255, 255, 0.05);
  --status-danger: #eb4136;
  --status-tips: #dfbb3b;
  --ui-notification-red: #dc4e25;

  /* Gaps */
  --gap-5xs: 8px;
  --gap-9xs: 4px;
  --gap-11xs: 2px;
  --gap-21xl: 40px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-5xl: 24px;
  --gap-9xl: 28px;
  --gap-12xs: 1px;
  --gap-xl: 20px;

  /* Paddings */
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-5xs: 8px;
  --padding-13xl: 32px;
  --padding-xl: 20px;
  --padding-5xl: 24px;
  --padding-base: 16px;
  --padding-11xs: 2px;
  --padding-3xs: 10px;

  /* border radiuses */
  --br-8xs: 5px;
  --br-5xs: 8px;
  --br-xs: 12px;
  --br-81xl: 100px;
  --br-9xs: 4px;
  --br-45xl: 64px;
  --br-lg: 18px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.component-typography {
  font-family: 'Pretendard Variable';
  color: var(--text-ui-text);
}

.component-typography-code {
  font-family: 'Roboto Mono';
  color: var(--text-ui-text);
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}
.component-typography-h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}
.component-typography-h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
.component-typography-s1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.component-typography-b1,
.component-typography-b1-bold,
.component-typography-b1-semi-bold,
.component-typography-b1-medium,
.component-typography-b1-regular {
  font-size: 14px;
  line-height: 20px;
}

.component-typography-b1-bold {
  font-weight: 700;
}
.component-typography-b1-semi-bold {
  font-weight: 600;
}
.component-typography-b1-medium {
  font-weight: 500;
}
.component-typography-b1-regular {
  font-weight: 400;
}
.component-typography-b1-thin {
  font-weight: 300;
}

.component-typography-b2,
.component-typography-b2-bold,
.component-typography-b2-regular {
  /* font-weight: 400; */
  font-size: 13px;
  line-height: 18px;
}

.component-typography-b2-bold {
  font-weight: 700;
}
.component-typography-b2-regular {
  font-weight: 400;
}

.component-typography-label,
.component-typography-label-bold,
.component-typography-label-medium,
.component-typography-label-regular {
  /* font-weight: 400; */
  font-size: 12px;
  line-height: 16px;
}

.component-typography-label-bold {
  font-weight: 700;
}
.component-typography-label-medium {
  font-weight: 500;
}
.component-typography-label-regular {
  font-weight: 400;
}

.component-typography-link {
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  text-decoration-line: underline;
  text-transform: capitalize;
}

.component-typography-link-lowercase {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  text-decoration-line: underline;
  text-transform: lowercase;
}

.component-typography-link- {
  cursor: pointer;
  text-decoration-line: none;
}

.component-typography-ellipsis {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
